/*----------------------header------------------------*/
.head{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
.head_profile{
    width: 200px;
    line-height: 100px;
    font-size: 25px;
    font-family: MingLiU;
    float: left;
    margin-left: 30px;
    text-align: center;
    transition: all 1.5s;
    transform: rotateY(0deg);
}
.head_profile:hover{
    transform: rotateY(180deg);
}
.head_nav{
    float: right;
    height: 100px;
    line-height: 100px;
}
.head_nav li{
    float: left;
    margin: 0 30px;
}
.head_nav li a{
    position: relative;
    cursor: pointer;
}
.head_nav li a span:last-child{
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 1s ease;
    text-align: center;
    font-size: 12px;
    color: #999;
}
.head_nav li a:hover span:last-child{
    top: -20px;
    opacity: 1;
}
/*-----------------------------------banner-------------------------------*/
.home_banner{
    width: 100%;
    background: url('../image/banner.jpg') no-repeat center center;
}
.home_banner_content{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
}
.home_banner .profile_img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    background: url('../image/pic.jpg') no-repeat -180px center;
    position: relative;
    float: left;
    margin: 75px 0 0 150px;
    cursor: pointer;
    transition: all 1s;
}
.home_banner .profile_img .profile{
    position: absolute;
    top: 150px;
    left: 0;
    background: rgba(255,255,255,0.3);
    width: 100%;
    height:100px;
    text-align: center;
    transition: all 0.5s;
    color: #666;
}
.home_banner .profile_img:hover .profile{
    top: 100px;
}
.home_banner .list{
    float: right;
    line-height: 30px;
    margin: 50px 150px 0 0;
    transition: all 1s;
}
.home_banner .list li:first-child{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
    padding-left: 15px;
}
/*--------------------------home animation----------------------------*/
.home_animation{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    display: flex;
}
.home_animation .home_carousel{
    flex: 1;
    background: yellow;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.home_animation .home_carousel_ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 400%;
    height: 100%;
}
.home_animation .home_carousel_ul li{
    width: 25%;
    height: 100%;
    float: left;
}
.home_animation .home_carousel_ul li a{
    width: 100%;
    display: block;
    height: 100%;
}
.home_animation .home_carousel_btn{
    width: 300px;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: -300px;
    top: 0;
    right: 0;
    margin: auto;
}
.home_animation .home_carousel_btn li{
    float: left;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background: #000;
    opacity: 0.3;
    cursor: pointer;
    margin: 0 20px;
    color: #fff;
}
.home_animation .home_carousel_prev{
    position: absolute;
    left: 0;
    top: 175px;
    line-height: 50px;
    height: 50px;
    background: #000;
    opacity: 0.6;
    color: #fff;
    font-size: 30px;
    padding: 0 10px;
    display: none;
}
.home_animation .home_carousel_next{
    position: absolute;
    right: 0;
    top: 175px;
    line-height: 50px;
    height: 50px;
    background: #000;
    opacity: 0.6;
    color: #fff;
    font-size: 30px;
    padding: 0 10px;
    display: none;
}

.home_animation .home_wechat{
    flex: 1;
    background: red;
}
.home_animation .home_bigGlass{
    flex: 1;
    background: purple;
}
/*----------------------放大镜------------------------------*/
.home_bg{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
}
.home_bg ul li{
    float: left;
    width: 100px;
    height: 100px;
}
.home_bg ul li img{
    width: 100px;
    height: 100px;
}
/*---------------------@media---------------------------*/
@media only screen and (max-width: 1200px){
    .head{
        width: 100%;
    }
    .home_banner_content{
        width: 100%;
    }
    /*.home_animation{*/
        /*width: 100%;*/
    /*}*/
}
@media only screen and (max-width: 970px){
    .head_nav li{
        margin: 0 10px;
    }
    .home_banner .profile_img{
        margin: 75px 0 0 30px;
    }
    .home_banner .list{
        margin: 50px 30px 0 0;
    }
}
@media only screen and (max-width: 730px){
    .head_nav{
        position: absolute;
        left: 0;
        bottom: 0;
        height: 50px;
        line-height: 50px;
        transition: all 1.5s;
    }
    .head_profile{
        transform: translateY(-20px);
    }
    .head_nav li a span:last-child{
        top: -20px;
    }
    .head_nav li a:hover span:last-child{
        top: -40px;
    }
}
